<!DOCTYPE html>
<html ng-app="customValidationApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <style>.error { color: red; }</style>
</head>
<body ng-controller="CustomValidationController">

  <form name="regForm" novalidate>
    Password:
    <input type="password" name="pass1" ng-model="password" required /><br>
    
    Confirm Password:
    <input type="password" name="pass2" ng-model="confirmPassword" required ng-blur="checkMatch()" /><br>
    
    <span class="error" ng-show="!isMatch && regForm.pass2.$touched">
      Passwords do not match
    </span><br>

    <button ng-disabled="!isMatch || regForm.$invalid">Register</button>
  </form>

  <script>
    angular.module('customValidationApp', [])
      .controller('CustomValidationController', function($scope) {
        $scope.isMatch = true;
        $scope.checkMatch = function() {
          $scope.isMatch = $scope.password === $scope.confirmPassword;
        };
      });
  </script>
</body>
</html>
